<%- include('../partials/header.ejs') %>
    <main class="grid-main">
        <div>
        </div>
        <form class="grid-form" action="/events/<%= event.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
            <label for="category">Category</label>
            <select name="category" id="category" required>
                <% categories.forEach(category => { %>
                    <% if(category === event.category) { %>
                        <option value="<%= event.category %>" selected> <%= event.category %></option>
                    <% } else { %>
                        <option value="<%= category %>" > <%= category %></option>
                    <% } %>
                <% }); %>
            </select>
            </select>

            <label for="title">Title</label>
            <input type="text" id="title" value="<%= event.title %>" name="title" required>

            <label for="startDate">Start</label>
            <input type="datetime-local" id="startDate" value="<%= editDate(event.startDate) %>" name="startDate" required>

            <label for="endDate">End</label>
            <input type="datetime-local" id="endDate" value="<%= editDate(event.endDate) %>" name="endDate" required>

            <label for="location">Location</label>
            <input type="text" id="location" value="<%= event.location %>" name="location" required>

            <label for="details">Details</label>
            <input type="text" id="details" value="<%= event.details %>" name="details" required>

            <label for="image">Image</label>
            <input type="file" id="image" name="image">
        
            <label for="button"></label>
            <button type="submit" id="button">Submit</button>
        </form>
        <div></div>
    </main>
<%- include('../partials/footer.ejs') %>